*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: rgba(166, 172, 189, 0.795);
    overflow-x: hidden;
}

nav .arg {
    justify-content: flex-end;
    list-style-type:none; 
}
  
.arg {
    justify-content: space-between;
    display:flex;
    width:98%;
    position:relative;
}


.arg li {
    padding:20px;
    text-decoration:none;
}

.arg img{
    width: 220px;
    height: 130px;
    border: 4px solid black;
}

section{
    align-items: center;
    display: flex;

    width: 100%;
}
    


  
.padre{
    
    margin: 50px;
    width: 35%;
    height: 500px;
}

.grande{
    font-size: 40px;
    text-align: center;

}

p{
    font-size: 20px;

}

.hijo1{
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(67, 212, 212, 0.797);
}
 
.hijo2{
    margin-top: 5%;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(67, 212, 212, 0.797);
}





.contenedor2{

    margin-left: 150px;
    width: 40%;
    float: right;
    display: flex;
    flex-direction: column;

    padding: 2rem;

}

.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imagenes{
    
    width: 130px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid black;
}


.hijo3{
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(67, 212, 212, 0.797);
    margin-top: 20%;
}

.hijo3 li {
    padding:20px;
    text-decoration:none;
    list-style: none;
}

footer{
    font: 50px;
    color: white;
    text-align: center;
}




